<ng-container *transloco="let t; read: 'dashboard.main'">
    <sw-top-bar (searching)="onSearch($event)"></sw-top-bar>

    <!-- TODO: tags side bar -->

    <!-- clear search results button -->
    <div class="clear-search-results-button-wrapper" *ngIf="isSearchResult">
        <button pButton [label]="t('clearSearch')" (click)="clearSearchResults()"></button>
    </div>

    <!-- alerts list -->
    <div class="dashboard-searching-title" *ngIf="searching">{{t('searching')}}</div>
    <router-outlet></router-outlet>

    <!-- create alert button -->
    <div *ngIf="showCreateAlertButton" class="create-alert-button-wrapper" routerLink="alert/create">
        <i class="pi pi-plus create-alert-button"></i>
    </div>

</ng-container>


