# Rule options: https://docs.microsoft.com/pt-br/dotnet/fundamentals/code-analysis/style-rules/

[*.cs]

# IDE0019: Use pattern matching
csharp_style_pattern_matching_over_as_with_null_check = false

# IDE0063: Use simple 'using' statement
csharp_prefer_simple_using_statement = false
