/* You can add global styles to this file, and also import other style files */

/*#region css reset*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*#endregion css reset*/

html {
    overflow-y: auto;
    overflow-x: clip;
}

:root {
    /*colors*/
    --sw-light-0: #ffffff;
    --sw-light-1: #eeeeee;
    --sw-light-2: #d5d7d3;
    --sw-light-3 : #cccccc;
    --sw-light-4: #aaaaaa;
    --sw-light-4-alpha-30: rgb(170, 170, 170, 0.3);
    --sw-light-5: #939393;

    --sw-dark-0: #161616;
    --sw-dark-1: #181818;
    --sw-dark-2: #1C1C1C;
    --sw-dark-3: #282828;
    --sw-dark-4: #333333;
    --sw-dark-5: #444444;
    --sw-dark-6: #666666;

    /* sizes */
    --sw-default-text-size: 20px;
    --sw-title1-font-size: 2rem;
    --sw-button-font-size: 1rem;
    --sw-link-text-font-size: 0.9rem;
    --sw-input-form-height: 40px;
    --sw-default-border-size: 2px;
    --sw-toast-font-size: 20px;
    --sw-title-font-weight: 500;
    --sw-max-mobile-screen-width: 600px;
}

/* automatic/manual light mode */
:root, :root.light-theme {
    color-scheme: light;

    --sw-primary-color: #5b3b8c;
    --sw-primary-color-border: #271938;
    --sw-primary-color-hover: #6a40b2;

    --sw-box-shadow-1: rgb(108 117 125 / 50%);

    --sw-input-invalid-color: #c91e2a;
    --sw-input-invalid-color-alpha: rgba(238, 57, 75, 0.5);

    --sw-surface-0: #f2f3f3;
    --sw-foreground-0: #191f23;
    --sw-text-muted-0: #545b64;
    --sw-border-0: #c2cbcc  ;

    --sw-surface-1: #fafafa;
    --sw-foreground-1: #16191f;
    --sw-link-text-muted-1: #545b64;
    --sw-link-text-muted-1-hover-color: var(--sw-foreground-1);
    --sw-text-muted-1: #545b64;
    --sw-text-muted-font-weight: 400;

    --sw-surface-2: #ffffff;
    --sw-switch-background-color: #ced4da;
    --sw-foreground-2: var(--sw-dark-6);
    --sw-text-muted-2: #545b64;
    --sw-border-2: #ced4da;
    --sw-icon-background-2: #e7e7e7;
    --sw-icon-color-2: #545b64;

    --sw-surface-3: #c2cbcc;
    --sw-foreground-3: #16191f;

    --sw-surface-4: var(--sw-dark-5); /**/
    --sw-foreground-4: var(--sw-light-2); /**/

    --sw-surface-5: var(--sw-light-4); /**/
    --sw-surface-5-hover: var(--sw-light-4-alpha-30);
    --sw-foreground-5: var(--sw-dark-0); /**/

    --sw-hover-color: #000000;
    --sw-outlined-button-hover-text-color: var(--sw-surface-1); /**/
}

/* automatic dark theme */
@media(prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;

        --sw-primary-color: #533E85;
        --sw-primary-color-border: #34244f;
        --sw-primary-color-hover: #65519b;

        --sw-box-shadow-1: rgb(108 117 125 / 50%);

        --sw-input-invalid-color: #d24646;
        --sw-input-invalid-color-alpha: rgb(220 53 69 / 50%);

        --sw-surface-0: var(--sw-dark-0);
        --sw-foreground-0: var(--sw-light-3);
        --sw-text-muted-0: var(--sw-light-4);
        --sw-border-0: var(--sw-dark-3);

        --sw-surface-1: var(--sw-dark-2);
        --sw-foreground-1: var(--sw-light-4);
        --sw-link-text-muted-1: var(--sw-dark-6);
        --sw-link-text-muted-1-hover-color: #ffffff75;
        --sw-text-muted-1: var(--sw-light-5);
        --sw-text-muted-font-weight: 400;

        --sw-surface-2: var(--sw-dark-3) ;
        --sw-switch-background-color: var(--sw-dark-3);
        --sw-foreground-2: var(--sw-light-1);
        --sw-text-muted-2: var(--sw-light-4);
        --sw-border-2: var(--sw-dark-1);
        --sw-icon-background-2: var(--sw-surface-2);
        --sw-icon-color-2: var(--sw-foreground-1);

        --sw-surface-3: var(--sw-dark-4);
        --sw-foreground-3: var(--sw-light-3);

        --sw-surface-4: var(--sw-dark-5);
        --sw-foreground-4: var(--sw-light-2);

        --sw-surface-5: var(--sw-light-4);
        --sw-surface-5-hover: var(--sw-light-4-alpha-30);
        --sw-foreground-5: var(--sw-dark-0);

        --sw-hover-color: #ffffff;
        --sw-outlined-button-hover-text-color: rgba(255, 255, 255, 0.9);
    }
}

/* manual dark mode */
:root.dark-theme {
    color-scheme: dark;

    --sw-primary-color: #533E85;
    --sw-primary-color-border: #34244f;
    --sw-primary-color-hover: #65519b;

    --sw-box-shadow-1: rgb(108 117 125 / 50%);

    --sw-input-invalid-color: #d24646;
    --sw-input-invalid-color-alpha: rgb(220 53 69 / 50%);

    --sw-surface-0: var(--sw-dark-0);
    --sw-foreground-0: var(--sw-light-3);
    --sw-text-muted-0: var(--sw-light-4);
    --sw-border-0: var(--sw-dark-3);

    --sw-surface-1: var(--sw-dark-2);
    --sw-foreground-1: var(--sw-light-4);
    --sw-link-text-muted-1: var(--sw-dark-6);
    --sw-link-text-muted-1-hover-color: #ffffff75;
    --sw-text-muted-1: var(--sw-light-5);
    --sw-text-muted-font-weight: 400;

    --sw-surface-2: var(--sw-dark-3) ;
    --sw-switch-background-color: var(--sw-dark-3);
    --sw-foreground-2: var(--sw-light-1);
    --sw-text-muted-2: var(--sw-light-4);
    --sw-border-2: var(--sw-dark-1);
    --sw-icon-background-2: var(--sw-surface-2);
    --sw-icon-color-2: var(--sw-foreground-1);

    --sw-surface-3: var(--sw-dark-4);
    --sw-foreground-3: var(--sw-light-3);

    --sw-surface-4: var(--sw-dark-5);
    --sw-foreground-4: var(--sw-light-2);

    --sw-surface-5: var(--sw-light-4);
    --sw-surface-5-hover: var(--sw-light-4-alpha-30);
    --sw-foreground-5: var(--sw-dark-0);

    --sw-hover-color: #ffffff;
    --sw-outlined-button-hover-text-color: rgba(255, 255, 255, 0.9);
}

* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

/*#region global styles*/

.sw-g-title-foreground-1 {
    font-size: var(--sw-title1-font-size);
    font-weight: var(--sw-title-font-weight);
    color: var(--sw-foreground-1);
    cursor: default;
}

.sw-g-text-foreground-1 {
    font-size: var(--sw-default-text-size);
    color: var(--sw-foreground-1);
    cursor: default;
}

.sw-g-link-text-muted {
    font-size: var(--sw-link-text-font-size);
    margin-top: 1.5rem;
    color: var(--sw-link-text-muted-1);
    font-weight: var(--sw-text-muted-font-weight);
    cursor: pointer;
}

.sw-g-link-text-muted:hover {
    color: var(--sw-link-text-muted-1-hover-color);
}

.sw-g-text-muted {
    font-size: var(--sw-link-text-font-size);
    margin-top: 1.5rem;
    color: var(--sw-foreground-1);
    font-weight: 400;
    cursor: default;
}

.sw-g-mt-5 {
    margin-top: 5px;
}

.sw-g-mr-5 {
    margin-right: 5px;
}

.home-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    width: 300px;
}

.home-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--sw-surface-1);
    color: var(--sw-foreground-1);
    border-radius: 6px;
    min-height: 250px;
    min-width: 100%;
    border: var(--sw-default-border-size) solid var(--sw-border-0);
}
/*#endregion*/


/* prime-ng toast icon size */
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
	font-size: var(--sw-toast-font-size);
}

/* center label text on prime-ng dropdown */
.p-dropdown-label {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
}

/*#region prime-ng button adjustments*/
.p-button {
    font-size: var(--sw-button-font-size);
    color: var(--sw-outlined-button-hover-text-color) !important;
	background: var(--sw-primary-color) !important;
	border: var(--sw-primary-color-border) !important;
}

.p-button:hover, .p-button:enabled:hover {
    background: var(--sw-primary-color-hover) !important;
    border-color: var(--sw-primary-color-border) !important;
    border: var(--sw-primary-color-border) !important;
}

.p-button:disabled:hover {
    background: var(--sw-primary-color) !important;
    border-color: var(--sw-primary-color-border) !important;
    border: var(--sw-primary-color-border) !important;
}

.p-button:focus {
    box-shadow: none;
}

.p-button:active:hover {
    box-shadow: 0 0 0 0.3rem var(--sw-box-shadow-1);
}

.p-disabled, .p-component:disabled {
    opacity: 0.65;
    box-shadow: none !important;
}
/*#endregion ng prime button adjustments */

/*#region prime-ng button-outlined adjustments*/
.p-button.p-button-outlined {
    font-size: var(--sw-button-font-size);
    color: var(--sw-foreground-1);
}

.p-button.p-button-outlined:hover, .p-button.p-button-outlined:enabled:hover {
    font-size: var(--sw-button-font-size);
    color: var(--sw-outlined-button-hover-text-color);
    background-color: var(--sw-primary-color);
    border-color: var(--sw-primary-color-border);
}

.p-button.p-button-outlined:focus {
    box-shadow: none;
}

.p-button.p-button-outlined:active:hover {
    box-shadow: none;
}

/*#endregion ng prime button-outlined  adjustments */

/*#region prime-ng button-outlined adjustments*/
.p-dialog {
    user-select: none;
}

.p-dialog, .p-dialog-header, .p-dialog-content, .p-dialog-footer {
    background-color: var(--sw-surface-2) !important;
}

.p-dialog-header {
    border-bottom: none !important;
}

.p-dialog-footer {
    border-top: none !important;
}

.p-dialog-title, .p-dialog-content {
    color: var(--sw-foreground-1) !important;
}

.p-dialog-header-icon{
    display: none !important;
}
/*#endregion prime-ng toast adjustments*/
