<div class="register-wrapper">
    <div class="register-box">
        <div class="title">
            Register
        </div>
        <form [formGroup]="registerForm" (submit)="register()">

            <!-- name -->
            <div class="form-group">
                <label for="name">Name</label>
                <div class="form-input">
                    <i class="pi pi-user form-icon"></i>
                    <input id="name" type="text" pInputText placeholder="Name" formControlName="name">         
                </div>
            </div>

            <!-- email -->
            <div class="form-group">
                <label for="email">Email</label>
                <div class="form-input">
                    <i class="pi pi-at form-icon"></i>
                    <input id="email" type="text" pInputText placeholder="Email" formControlName="email">
                </div>
                <span id="email-help" class="text-muted">Email to receive alerts. It doesn't need to be the google account email.</span> 
            </div>

            <!-- language -->
            <div class="form-group">
                <label for="language">Language</label>
                <div class="form-input">
                    <i class="pi pi-globe form-icon"></i>
                    <p-dropdown id="language" 
                                [options]="languageOptions"
                                optionLabel="Display" 
                                optionValue="Value"
                                placeholder="Select a language"
                                formControlName="language">
                    </p-dropdown>
                </div>
            </div>

            <!-- submit button --> 
            <button type="submit" pButton label="Confirm"></button>

        </form>
    </div>    
</div>
