.side-options-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
}

.side-options-wrapper, .option {
    display: flex;
    margin-bottom: 24px;
}

.option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
    cursor: pointer;
}

.option, .option-icon {
    font-size: 24px;
}

.page-content {
    width: 100%;
    max-width: 550px;
    display: flex;
}

.active {
    color: var(--sw-hover-color);
}

.active .text {
    text-decoration: underline;
}

.text {
    font-size: 18px;
    margin-left: 1rem;
}

.side-options-wrapper{
    padding-left: 12px;
}

@media screen and (min-width: 600px) {
    .page-content {
        display: flex;
    }

    .side-options-wrapper, .option {
        margin-right: 30px;
    }
}
