<ng-container *transloco="let t">
    <sw-base-page-layout pageTitletranslationKey="settings.main.title">

        <div class="side-options-wrapper">
            <div #profile class="option" (click)="goTo('profile')">
                <i class="pi pi-user option-icon"></i>
                <div class="text" *ngIf="!(mobileScreen$ | async) as boolean">{{t('settings.profile.title')}}</div>
            </div>
            <div #security class="option" (click)="goTo('security')">
                <i class="pi pi-shield option-icon"></i>
                <div class="text" *ngIf="!(mobileScreen$ | async) as boolean">{{t('settings.security.title')}}</div>
            </div>
        </div>

        <div class="page-content">
            <router-outlet></router-outlet>
        </div>

    </sw-base-page-layout>
</ng-container>

