.login-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: Var(--box-background-color);
    min-height: 250px;
}

.title {
    font-size: var(--title1-font-size);
    font-weight: 500;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-text {
    font-size: var(--link-text-font-size);
    margin-top: 1rem;
    color: var(--gray1);
    font-weight: 400;
    cursor: pointer;
}

/*#region bootstrap button adjustments */
.btn{
    font-size: var(--button-font-size);
}

.btn:focus {
    box-shadow: none;
}

.btn:active {
    box-shadow: 0 0 0 0.3rem rgb(108 117 125 / 50%);
}
/*#endregion bootstrap button adjustments */