.login-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--sw-surface-1);
    min-height: 250px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}


