<ng-container *transloco="let t;">
<div class="login-box">
    <div class="sw-g-title-foreground-1">
        {{ t("home.login.title")}}
    </div>
    <div class="links">
        <button pButton type="button" class="p-button-outlined" (click)="login()">
            <i class="pi pi-google sw-g-mr-5"></i> {{ t("home.login.continueGoogle")}}
        </button>
        <a class="sw-g-link-text-muted" routerLink="/security/privacy" target="_blank">{{ t("common.privacyPolicy")}}</a>
    </div>
</div>
</ng-container>
