<ng-container *transloco="let t">
    <sw-base-page-layout [pageTitletranslationKey]="pageTitleTranslationKey">
        <form [formGroup]="createUpdateAlertForm" (submit)="send()">

            <!--alert name-->
            <div class="form-group">
                <label for="name" class="sw-g-text-foreground-1">{{ t('alert.createUpdate.name') }}</label>
                <div class="form-input">
                    <input
                            class="sw-input-color"
                            id="name" type="text" pInputText
                            [placeholder]="t('alert.createUpdate.namePlaceHolder')" formControlName="name"
                            [class.invalid-input]="inputFormName?.touched && inputFormName?.dirty && inputFormName?.invalid">
                </div>
                <sw-inline-input-error-msg
                        [show_if]="inputFormName?.touched && inputFormName?.dirty && inputFormName?.invalid"
                        [message]="t('common.invalidStringLength')">
                </sw-inline-input-error-msg>
            </div>

            <!--alert frequency-->
            <div class="form-group">
                <label for="frequency"
                       class="sw-g-text-foreground-1">{{ t('alert.createUpdate.frequency') }}</label>
                <div class="form-input">
                    <p-dropdown id="frequency"
                                [options]="frequencyOptions"
                                optionLabel="Display"
                                optionValue="Value"
                                formControlName="frequency">
                    </p-dropdown>
                </div>
            </div>

            <!--site name-->
            <div class="form-group input-after-dropdown-padding">
                <label for="site-name" class="sw-g-text-foreground-1">{{ t('alert.createUpdate.siteName') }}</label>
                <div class="form-input">
                    <input
                            class="sw-input-color"
                            id="site-name" type="text" pInputText
                            [placeholder]="t('alert.createUpdate.siteNamePlaceHolder')" formControlName="site-name"
                            [class.invalid-input]="inputFormSiteName?.touched
                                && inputFormSiteName?.dirty && inputFormSiteName?.invalid">
                </div>
                <sw-inline-input-error-msg
                        [show_if]="inputFormSiteName?.touched && inputFormSiteName?.dirty && inputFormSiteName?.invalid"
                        [message]="t('common.invalidStringLength')">
                </sw-inline-input-error-msg>
            </div>

            <!-- site uri-- precisa começar com https://.... -->
            <div class="form-group">
                <label for="site-uri" class="sw-g-text-foreground-1">{{ t('alert.createUpdate.siteUri') }}</label>
                <div class="form-input">
                    <input
                            class="sw-input-color"
                            id="site-uri" type="text" pInputText
                            [placeholder]="t('alert.createUpdate.siteUriPlaceHolder')" formControlName="site-uri"
                            [class.invalid-input]="inputFormSiteUri?.touched &&
                                inputFormSiteUri?.dirty && inputFormSiteUri?.invalid">
                </div>
                <sw-inline-input-error-msg
                        [show_if]="inputFormSiteUri?.touched && inputFormSiteUri?.dirty && inputFormSiteUri?.invalid"
                        [message]="t('alert.createUpdate.invalidSiteUri')">
                </sw-inline-input-error-msg>
            </div>

            <!--watch mode-->
            <div class="form-group">
                <label for="watch-mode"
                       class="sw-g-text-foreground-1">{{ t('alert.createUpdate.watchMode') }}</label>
                <div class="form-input">
                    <p-dropdown id="watch-mode"
                                [options]="watchModeOptions"
                                optionLabel="Display"
                                optionValue="Value"
                                formControlName="watch-mode">
                    </p-dropdown>
                </div>
            </div>

            <!--term-->
            <div *ngIf="termWatchModeSelected" class="form-group input-after-dropdown-padding">
                <label for="term" class="sw-g-text-foreground-1">{{ t('alert.createUpdate.term') }}</label>
                <div class="form-input">
                    <input
                            class="sw-input-color"
                            id="term" type="text" pInputText
                            placeholder="Name" formControlName="term"
                            [class.invalid-input]="inputFormWatchModeTerm?.touched
                                && inputFormWatchModeTerm?.dirty
                                && inputFormWatchModeTerm?.invalid">
                </div>
                <sw-inline-input-error-msg
                        [show_if]="inputFormWatchModeTerm?.touched && inputFormWatchModeTerm?.dirty && inputFormWatchModeTerm?.invalid"
                        [message]="t('common.invalidStringLength')">
                </sw-inline-input-error-msg>
            </div>

            <!-- submit button -->
            <button type="submit" pButton [label]="t('alert.createUpdate.save')"
                    [disabled]="createUpdateAlertForm.invalid"></button>
        </form>
    </sw-base-page-layout>
</ng-container>
