<ng-container *transloco="let t">
    <sw-base-page-layout [pageTitletranslationKey]="pageTitleTranslationKey">
        <form [formGroup]="createUpdateAlertForm" (submit)="send()">

            <!--alert name-->
            <div class="form-group">
                <label for="name" class="sw-g-text-foreground-1">{{ t('alert.createUpdate.name') }}</label>
                <div class="form-input">
                    <input
                            class="sw-input-color"
                            id="name" type="text" pInputText
                            [placeholder]="t('alert.createUpdate.namePlaceHolder')" formControlName="name"
                            [class.invalid-input]="inputFormName?.touched && inputFormName?.dirty && inputFormName?.invalid">
                </div>
                <sw-inline-input-error-msg
                        [show_if]="inputFormName?.touched && inputFormName?.dirty && inputFormName?.invalid"
                        [message]="t('common.invalidStringLength')">
                </sw-inline-input-error-msg>
            </div>

            <!--alert frequency-->
            <div class="form-group">
                <label for="frequency"
                       class="sw-g-text-foreground-1">{{ t('alert.createUpdate.frequency') }}</label>
                <div class="form-input">
                    <p-dropdown id="frequency"
                                [options]="frequencyOptions"
                                optionLabel="Display"
                                optionValue="Value"
                                formControlName="frequency">
                    </p-dropdown>
                </div>
            </div>

            <!--site name-->
            <div class="form-group input-after-dropdown-padding">
                <label for="siteName" class="sw-g-text-foreground-1">{{ t('alert.createUpdate.siteName') }}</label>
                <div class="form-input">
                    <input
                            class="sw-input-color"
                            id="siteName" type="text" pInputText
                            [placeholder]="t('alert.createUpdate.siteNamePlaceHolder')" formControlName="siteName"
                            [class.invalid-input]="inputFormSiteName?.touched
                                && inputFormSiteName?.dirty && inputFormSiteName?.invalid">
                </div>
                <sw-inline-input-error-msg
                        [show_if]="inputFormSiteName?.touched && inputFormSiteName?.dirty && inputFormSiteName?.invalid"
                        [message]="t('common.invalidStringLength')">
                </sw-inline-input-error-msg>
            </div>

            <!-- site uri-- needs to start with https://.... -->
            <div class="form-group">
                <label for="siteUri" class="sw-g-text-foreground-1">{{ t('alert.createUpdate.siteUri') }}</label>
                <div class="form-input">
                    <input
                            class="sw-input-color"
                            id="siteUri" type="text" pInputText
                            [placeholder]="t('alert.createUpdate.siteUriPlaceHolder')" formControlName="siteUri"
                            [class.invalid-input]="inputFormSiteUri?.touched &&
                                inputFormSiteUri?.dirty && inputFormSiteUri?.invalid">
                </div>
                <sw-inline-input-error-msg
                        [show_if]="inputFormSiteUri?.touched && inputFormSiteUri?.dirty && inputFormSiteUri?.invalid"
                        [message]="t('alert.createUpdate.invalidSiteUri')">
                </sw-inline-input-error-msg>
            </div>

            <!--watch mode-->
            <div class="form-group">
                <label for="watchMode"
                       class="sw-g-text-foreground-1">{{ t('alert.createUpdate.watchMode') }}</label>
                <div class="form-input">
                    <p-dropdown id="watchMode"
                                [options]="watchModeOptions"
                                optionLabel="Display"
                                optionValue="Value"
                                formControlName="watchMode">
                    </p-dropdown>
                </div>
            </div>

            <!--term-->
            <div *ngIf="termWatchModeSelected" class="form-group input-after-dropdown-padding">
                <label for="term" class="sw-g-text-foreground-1">{{ t('alert.createUpdate.term') }}</label>
                <div class="form-input">
                    <input
                            class="sw-input-color"
                            id="term" type="text" pInputText
                            [placeholder]="t('alert.createUpdate.termPlaceholder')" formControlName="term"
                            [class.invalid-input]="inputFormWatchModeTerm?.touched
                                && inputFormWatchModeTerm?.dirty
                                && inputFormWatchModeTerm?.invalid">
                </div>
                <sw-inline-input-error-msg
                        [show_if]="inputFormWatchModeTerm?.touched && inputFormWatchModeTerm?.dirty && inputFormWatchModeTerm?.invalid"
                        [message]="t('common.invalidStringLength')">
                </sw-inline-input-error-msg>
            </div>

            <!--regex pattern-->
            <div *ngIf="regexWatchModeSelected" class="form-group input-after-dropdown-padding">
                <label for="regexPattern" class="sw-g-text-foreground-1">{{ t('alert.createUpdate.regexPattern') }}</label>
                <div class="form-input">
                    <input
                            class="sw-input-color"
                            id="regexPattern" type="text" pInputText
                            [placeholder]="t('alert.createUpdate.regexPatternPlaceholder')" formControlName="regexPattern"
                            [class.invalid-input]="inputFormWatchModeRegexPattern?.touched
                                && inputFormWatchModeRegexPattern?.dirty
                                && inputFormWatchModeRegexPattern?.invalid">
                </div>
                <sw-inline-input-error-msg
                        [show_if]="inputFormWatchModeRegexPattern?.touched && inputFormWatchModeRegexPattern?.dirty && inputFormWatchModeRegexPattern?.invalid"
                        [message]="t('alert.createUpdate.watchModeRegexInvalid')">
                </sw-inline-input-error-msg>
            </div>

            <!--regex - NotifyOnDisappearance -->
            <div *ngIf="regexWatchModeSelected" class="form-group">
                <label for="notifyOnDisappearance" class="sw-g-text-foreground-1">{{ t('alert.createUpdate.notifyOnDisappearance') }}</label>
                <div class="form-input">
                    <p-dropdown id="notifyOnDisappearance"
                                [options]="notifyOnDisappearanceOptions"
                                optionLabel="Display"
                                optionValue="Value"
                                formControlName="notifyOnDisappearance">
                    </p-dropdown>
                </div>
            </div>

            <!-- submit button -->
            <button type="submit" pButton [label]="t('alert.createUpdate.save')"
                    [disabled]="createUpdateAlertForm.invalid || doingRequest || !dataChanged"></button>
        </form>
    </sw-base-page-layout>
</ng-container>
