.home-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    width: 300px;
}

.home-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--sw-surface-1);
    color: var(--sw-foreground-1);
    border-radius: 6px;
    min-height: 250px;
    min-width: 100%;
    border: var(--sw-default-border-size) solid var(--sw-border-0);
}
