.top-bar-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-height: 66px;
    width: 100vw;
    border-bottom: 4px solid var(--sw-primary-color);
    justify-content: space-between;
}

.left-wrapper, .settings-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.tags-button {
    padding: 12px;
}

.tags-button:hover {
    background-color: var(--sw-surface-5-hover);
    border-radius: 50%;
}

.top-bar-icons {
    font-size: 22px;
}

.app-title {
    font-size: 24px;
    padding: 12px;
    user-select: none;
}

.search-box-wrapper {
    padding: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    max-width: 615px;
    margin-right: 165px; /*app-title-size*/
}

.search-box {
    background-color: var(--sw-surface-2);
    border-radius: 14px;
    width: 100%
}

.search-box input {
    background-color: var(--sw-surface-2);
}

.left-wrapper{
    margin-left: 12px;
}

.settings-button-wrapper {
    margin-right: 12px;
}

/*#region ng-prime input text adjusts */
.p-inputtext {
    border: var(--sw-default-border-size) solid var(--sw-border-2);
    color: var(--sw-text-muted-0);
    padding: 8px 8px;
    width:100%;
    border-radius: 14px;
}

.p-inputtext:hover {
    border: var(--sw-default-border-size) solid var(--sw-foreground-2);
}

.p-input-icon-right > i:last-of-type {
    right: 0.75rem;
    color: var(--sw-foreground-2);
}

.p-inputtext:enabled:focus {
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem var(--sw-box-shadow-1);
    border: var(--sw-default-border-size) solid var(--sw-border-2);
}
/*#endregion*/

@media screen and (max-width: 600px) {
    .search-box-wrapper {
        margin-right: 0; /*app-title-size*/
    }
}

