<div *ngIf="(mobileScreen$ | async) as boolean" class="mobile-title">
    <div class="app-title">
        Site Watcher
    </div>
</div>

<div class="top-bar-wrapper">
    <div class="left-wrapper">
        <div class="tags-button" (click)="showTagsToggle()">
            <i class="pi pi-bars top-bar-icons"></i>
        </div>
        <div *ngIf="!(mobileScreen$ | async) as boolean" class="app-title">
            Site Watcher
        </div>
    </div>

    <div class="search-box-wrapper">
        <div class="p-input-icon-right search-box">
            <i *ngIf="!searching; else loading" class="pi pi-search search-icon" (click)="search()"></i>
            <ng-template #loading >
                <i class="pi pi-spin pi-spinner"></i>
            </ng-template>
            <input type="text" pInputText [(ngModel)]="searchText" (keyup.enter)="search()">
        </div>
    </div>

    <div class="settings-button-wrapper">
        <div class="tags-button" (click)="showSettingsToggle()">
            <i class="pi pi-cog top-bar-icons"></i>
        </div>
    </div>
</div>

