.top-bar-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-height: 64px;
    width: 100vw;
    border-bottom: 2px solid var(--sw-primary-color);
}

.left-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 12px;
}

.tags-button {
    padding: 12px;
}

.tags-button:hover {
    background-color: var(--sw-surface-5-hover);
    border-radius: 50%;
}

.show-tags-icon {
    font-size: 20px;
}

.app-title{
    font-size: 24px;
    padding: 12px;
}



