<ng-container *transloco="let t; read: 'home.register'">
    <div class="register-wrapper">
        <div class="register-box">
            <div class="sw-g-title-foreground-1">
                {{ t('title') }}
            </div>
            <form [formGroup]="registerForm" (submit)="register()">

                <!-- name -->
                <div class="form-group">
                    <label for="name" class="sw-g-text-foreground-1">{{ t('name') }}</label>
                    <div class="form-input">
                        <i class="pi pi-user form-icon"></i>
                        <input
                            class="sw-input-color"
                            id="name" type="text" pInputText
                            placeholder="Name" formControlName="name"
                            [class.invalid-input]="inputFormName?.touched && inputFormName?.dirty && inputFormName?.invalid">
                    </div>
                    <sw-inline-input-error-msg
                        [show_if]="inputFormName?.touched && inputFormName?.dirty && inputFormName?.invalid"
                        [message]="inputFormName?.errors?.['invalidCharacters'] ? t('nameinvalidCharactersErrorMsg') : t('nameMinLenghtErrorMsg')">
                    </sw-inline-input-error-msg>
                </div>

                <!-- email -->
                <div class="form-group">
                    <label for="email" class="sw-g-text-foreground-1">{{ t("email") }}</label>
                    <div class="form-input">
                        <i class="pi pi-at form-icon"></i>
                        <input
                            class="sw-input-color"
                            id="email" type="text" pInputText
                            placeholder="Email" formControlName="email"
                            [class.invalid-input]="inputFormEmail?.touched && inputFormEmail?.dirty && inputFormEmail?.invalid">
                    </div>
                    <span class="sw-g-mt-5 sw-g-text-muted">{{ t("emailDescription") }}</span>
                    <sw-inline-input-error-msg
                        [show_if]="inputFormEmail?.touched && inputFormEmail?.dirty && inputFormEmail?.invalid"
                        [message]="t('emailValidationErrorMsg')">
                    </sw-inline-input-error-msg>
                </div>

                <!-- language -->
                <div class="form-group">
                    <label for="language" class="sw-g-text-foreground-1">{{ t("language") }}</label>
                    <div class="form-input">
                        <i class="pi pi-globe form-icon"></i>
                        <p-dropdown id="language"
                                    [options]="languageOptions"
                                    optionLabel="Display"
                                    optionValue="Value"
                                    placeholder="Select a language"
                                    formControlName="language">
                        </p-dropdown>
                    </div>
                </div>

                <!-- submit button -->
                <button type="submit" pButton [label]="t('confirm')" [disabled]="registerForm.invalid"></button>

            </form>
        </div>
    </div>
</ng-container>
